.list{
    padding-top: 20px;
    margin-top: 10px;
    list-style: none;
    cursor: pointer;
    display: grid;
    grid-template-columns: 30% 30% ;
    grid-template-rows: 40% 40% 40%; 
    gap: 15px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Lucida Sans';
}


