
.container {
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 50px;
  height: 50px;
  background-color: rgb(211, 175, 245);
  border-radius: 10px;
  color: rgb(52, 0, 100);
}

.inputAdd {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  border: 3px solid rgb(52, 0, 100);
  font-weight: bold;
  color: rgb(52, 0, 100);
}

.btn-add {
  border: 3px solid rgb(52, 0, 100);
  font-weight: bold;
  color: rgb(52, 0, 100);
  background-color: aliceblue;
  width: 70px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
} /*boton de agregar*/

.lista {
  list-style: none;
  font-family: Roboto;
  font-weight: bold;
  font-size: 25px;
  color:#3c3c3c;
} /*ul/ texto vacio de html, luego se rellena con las tareas*/



li {
  list-style: none;
  background-color: rgb(220, 200, 237);
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
} /*lista/barrita de color con las tareas creada en JS*/

li p {
  margin: 0;
  padding: 10px;
  width: 100%;
} /*texto y boton creada en js, aqui se marca el espacio*/

.btn-delete {
    cursor: pointer;
    border: none;
    font-weight: bold;
    background-color: #3c3c3c;
    color: rgb(220, 200, 237);
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 10%;
    font-size: 20px;
  } /*boton de eliminar*/

  

.empty {
    margin-top: 50px;
    font-family: Roboto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(209, 209, 209);
}  

.cheki {
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
}